Source Code/JAFrontendWeb/Web References/com.jabackendservice/JAService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="AddApplicant">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="jsonUser" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddApplicantResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddApplicantResult" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="message" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLocations">
        <s:complexType />
      </s:element>
      <s:element name="GetLocationsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetLocationsResult" type="tns:ArrayOfLocationDto" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfLocationDto">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="LocationDto" nillable="true" type="tns:LocationDto" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="LocationDto">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="LocationId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="SubLocationId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="LocationName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SubLocationName" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetIndustries">
        <s:complexType />
      </s:element>
      <s:element name="GetIndustriesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetIndustriesResult" type="tns:ArrayOfIndustryDto" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfIndustryDto">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="IndustryDto" nillable="true" type="tns:IndustryDto" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="IndustryDto">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="IndustryId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="IndustryName" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetSalaryRanges">
        <s:complexType />
      </s:element>
      <s:element name="GetSalaryRangesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSalaryRangesResult" type="tns:ArrayOfSalaryRangeDto" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfSalaryRangeDto">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="SalaryRangeDto" nillable="true" type="tns:SalaryRangeDto" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SalaryRangeDto">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="SalaryRangeId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Display" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="RetrieveApplicantListByPaging">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="pageSize" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="pageIndex" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetrieveApplicantListByPagingResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RetrieveApplicantListByPagingResult" type="tns:ArrayOfApplicantDto" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfApplicantDto">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ApplicantDto" nillable="true" type="tns:ApplicantDto" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ApplicantDto">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ApplicantId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="FirstName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LastName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CompanyName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Phone" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CorrespondenceAddress" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="JobTitle" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="JobSpecification" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="LocationId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="LocationName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SubLocationId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="SubLocationName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IndustryId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="IndustryName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SalaryRangeId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="SalaryRange" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CreationDate" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:element name="RetrieveAllApplicants">
        <s:complexType />
      </s:element>
      <s:element name="RetrieveAllApplicantsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RetrieveAllApplicantsResult" type="tns:ArrayOfApplicantDto" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AddApplicantSoapIn">
    <wsdl:part name="parameters" element="tns:AddApplicant" />
  </wsdl:message>
  <wsdl:message name="AddApplicantSoapOut">
    <wsdl:part name="parameters" element="tns:AddApplicantResponse" />
  </wsdl:message>
  <wsdl:message name="GetLocationsSoapIn">
    <wsdl:part name="parameters" element="tns:GetLocations" />
  </wsdl:message>
  <wsdl:message name="GetLocationsSoapOut">
    <wsdl:part name="parameters" element="tns:GetLocationsResponse" />
  </wsdl:message>
  <wsdl:message name="GetIndustriesSoapIn">
    <wsdl:part name="parameters" element="tns:GetIndustries" />
  </wsdl:message>
  <wsdl:message name="GetIndustriesSoapOut">
    <wsdl:part name="parameters" element="tns:GetIndustriesResponse" />
  </wsdl:message>
  <wsdl:message name="GetSalaryRangesSoapIn">
    <wsdl:part name="parameters" element="tns:GetSalaryRanges" />
  </wsdl:message>
  <wsdl:message name="GetSalaryRangesSoapOut">
    <wsdl:part name="parameters" element="tns:GetSalaryRangesResponse" />
  </wsdl:message>
  <wsdl:message name="RetrieveApplicantListByPagingSoapIn">
    <wsdl:part name="parameters" element="tns:RetrieveApplicantListByPaging" />
  </wsdl:message>
  <wsdl:message name="RetrieveApplicantListByPagingSoapOut">
    <wsdl:part name="parameters" element="tns:RetrieveApplicantListByPagingResponse" />
  </wsdl:message>
  <wsdl:message name="RetrieveAllApplicantsSoapIn">
    <wsdl:part name="parameters" element="tns:RetrieveAllApplicants" />
  </wsdl:message>
  <wsdl:message name="RetrieveAllApplicantsSoapOut">
    <wsdl:part name="parameters" element="tns:RetrieveAllApplicantsResponse" />
  </wsdl:message>
  <wsdl:portType name="JAServiceSoap">
    <wsdl:operation name="AddApplicant">
      <wsdl:input message="tns:AddApplicantSoapIn" />
      <wsdl:output message="tns:AddApplicantSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetLocations">
      <wsdl:input message="tns:GetLocationsSoapIn" />
      <wsdl:output message="tns:GetLocationsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetIndustries">
      <wsdl:input message="tns:GetIndustriesSoapIn" />
      <wsdl:output message="tns:GetIndustriesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSalaryRanges">
      <wsdl:input message="tns:GetSalaryRangesSoapIn" />
      <wsdl:output message="tns:GetSalaryRangesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveApplicantListByPaging">
      <wsdl:input message="tns:RetrieveApplicantListByPagingSoapIn" />
      <wsdl:output message="tns:RetrieveApplicantListByPagingSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveAllApplicants">
      <wsdl:input message="tns:RetrieveAllApplicantsSoapIn" />
      <wsdl:output message="tns:RetrieveAllApplicantsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="JAServiceSoap" type="tns:JAServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddApplicant">
      <soap:operation soapAction="http://tempuri.org/AddApplicant" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLocations">
      <soap:operation soapAction="http://tempuri.org/GetLocations" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIndustries">
      <soap:operation soapAction="http://tempuri.org/GetIndustries" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSalaryRanges">
      <soap:operation soapAction="http://tempuri.org/GetSalaryRanges" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveApplicantListByPaging">
      <soap:operation soapAction="http://tempuri.org/RetrieveApplicantListByPaging" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveAllApplicants">
      <soap:operation soapAction="http://tempuri.org/RetrieveAllApplicants" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="JAServiceSoap12" type="tns:JAServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddApplicant">
      <soap12:operation soapAction="http://tempuri.org/AddApplicant" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLocations">
      <soap12:operation soapAction="http://tempuri.org/GetLocations" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIndustries">
      <soap12:operation soapAction="http://tempuri.org/GetIndustries" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSalaryRanges">
      <soap12:operation soapAction="http://tempuri.org/GetSalaryRanges" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveApplicantListByPaging">
      <soap12:operation soapAction="http://tempuri.org/RetrieveApplicantListByPaging" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveAllApplicants">
      <soap12:operation soapAction="http://tempuri.org/RetrieveAllApplicants" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="JAService">
    <wsdl:port name="JAServiceSoap" binding="tns:JAServiceSoap">
      <soap:address location="http://www.jabackendservice.com/JAService.asmx" />
    </wsdl:port>
    <wsdl:port name="JAServiceSoap12" binding="tns:JAServiceSoap12">
      <soap12:address location="http://www.jabackendservice.com/JAService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>